.book {
  display: table;
  overflow: hidden;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
  transition: color 0.3s;
}

.title:hover {
  color: #1791ff;
  cursor: pointer;
}

.link_detail_title {
  color: #0a222e;
}

.author {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  padding-left: 10px;
  transition: color 0.3s;
}

.author:hover {
  color: #1791ff;
  cursor: pointer;
}

.link_detail_author {
  color: #28546a;
}

.created {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.tooltips {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.button_url {
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #1791ff;
  border: 0.1px solid #1791ff;
  color: white;
  cursor: pointer;
}

.button_url:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.button_edit {
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 0.1px solid #999999;
  color: black;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button_edit:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}

.button_remove {
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #ff4d50;
  border: 0.1px solid #ff4d50;
  color: white;
  cursor: pointer;
}

.button_remove:hover {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}
